<asm-jaw [(teeth)]="teeth" 
         topJawLabel="Supérieure"
         [isReadOnly]="false"
         (toothClick)="onToothClick($event)"
         (toothSeletionToggle)="onToothToggle($event)"
         (toothMouseOver)="onToothMouseOver($event)"
         (toothMouseOut)="onToothMouseOut($event)">
</asm-jaw>

<!-- Diagnostics debug -->

<button (click)="onInitTeeth()">Init teeth</button>

<p>teeth: {{ teeth | json }}</p>
<p>tooth over: {{ toothOver | json }}</p>
<p>tooth out: {{ toothOut | json }}</p>
<p>tooth click: {{ toothClicked | json }}</p>
<p>tooth toggle: {{ toothSelected | json }}</p>
