.asm-align {
  display: flex;
  justify-content: center;
}

.asm-caption {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #aaa;
  margin-top: -2rem;
  font-size: 0.8rem;
}