.asm-jaw {
  font-family: Arial;
  font-weight: normal; 
  user-select: none;

  &__outline {
    fill: #ededed;
  }

  &__gums {
    fill: #fdb1b7;
  }

  &__gums-shadow, &__text {
    fill: #f3858c;
  }

  &__text {
    font-size: 20px;
  }

  &__tooth {
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &-label {
      font-size: 12px;
      fill: #4a4a4a;
    }

    &-front {
      &-shadow {
        fill: #ededed;
      }

      &-highlight {
        fill: #fff;
      }
    }

    &-back {
      &-shadow {
        fill: #ededed;
      }

      &-highlight {
        fill: #fff;
      }
    }

    &:hover {
      font-weight: normal;
      transform: scale(1.03);
      transform-origin: 50% 50%;

      &.asm-jaw__tooth-back {
        .asm-jaw__tooth-back-highlight {
          fill: khaki;
        }
      }

      &.asm-jaw__tooth-front {
        .asm-jaw__tooth-front-shadow {
          fill: khaki;
        }
      }
    }

    &--selected {
      &.asm-jaw__tooth-back {
        .asm-jaw__tooth-back-highlight {
          fill: skyblue !important;
        }
      }

      &.asm-jaw__tooth-front {
        .asm-jaw__tooth-front-shadow {
          fill: skyblue !important;
        }
      }
    }

    &--reimbursed {
      &.asm-jaw__tooth-back {
        .asm-jaw__tooth-back-highlight {
          fill: green;
        }
        .asm-jaw__tooth-label {
          fill: white;
        }
      }

      &.asm-jaw__tooth-front {
        .asm-jaw__tooth-front-shadow {
          fill: green;
        }
        .asm-jaw__tooth-label {
          fill: white;
        }
      }
    }
  }

  &--readonly {
    .asm-jaw__tooth {
      cursor: default !important;
    }
  }
}
