.asm-jaw {
  font-family: Arial;
  user-select: none;

  &__outline {
    fill: #ededed;
  }

  &__gums {
    fill: #fdb1b7;
  }

  &__gums-shadow, &__text {
    fill: #f3858c;
  }

  &__text {
    fill: #f3858c;
    font-size: 20px;
  }

  &__tooth {
    cursor: pointer;

    &-label {
      font-size: 12px;
      fill: #4a4a4a;
    }

    &-front {
      &-shadow {
        fill: #ededed;
      }

      &-highlight {
        fill: #fff;
      }
      
      &:hover {
        .asm-jaw__tooth-front-shadow {
          fill: greenyellow;
        }

        .asm-jaw__tooth-label {
          font-weight: bold;
        }
      }
    }

    &-back {
      &-shadow {
        fill: #ededed;
      }

      &-highlight {
        fill: #fff;
      }

      &:hover {
        .asm-jaw__tooth-back-highlight {
          fill: greenyellow;
        }

        .asm-jaw__tooth-label {
          font-weight: bold;
        }
      }
    }
  }
}
