.cls-1 {
  fill: #ededed;
}

.cls-2 {
  fill: #fdb1b7;
}

.cls-3, .cls-6 {
  fill: #f3858c;
}

.cls-4 {
  font-size: 12px;
  fill: #4a4a4a;
}

.cls-4, .cls-6 {
  font-family: Arial;
  font-weight: bold;
}

.cls-5 {
  letter-spacing: -0.07em;
}

.cls-6 {
  font-size: 20px;
}

.cls-7 {
  letter-spacing: -0.02em;
}

.cls-8 {
  fill: #fff;
}